@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body { font-family: 'Rubik', sans-serif; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Rubik', sans-serif; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }



/* Masthead */
.header, .footer, .header, .title, .sectiontitle, .submit, .pagenavigation { 
	font-family: 'Montserrat', Helvetica, sans-serif; 
	text-transform: uppercase; 
	font-weight: normal; 
}

.container{
	padding: 50px 15px;
}

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

img.avatar { 
	margin: auto;
	display: block;
}

/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }

.pagenavigation{
	margin-top: 10px;	
}

/* Jumbotron */     
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; }
.marketing p.lead { line-height: 30px; }



/* Notes */
.notelist, projectlist { 
	margin: 0 auto; 
}
ul.listnotes { 
	margin: 0 auto; 
}
ul.listnotes li {
	line-height: 30px;
	text-indent: -10px;
	margin-left: 20px;
} 

/* Note */

.credit { 
	font-weight: 200; 
	font-style: italic; 
}

/* Projects */
.listprojects { 
	margin: 0 auto; 
}
ul.listprojects { 
	margin: 0 auto; 
}
ul.listprojects li {
	line-height: 30px;
	text-indent: -10px;
	margin-left: 20px;
} 

/* CV */

.experience-project, .experience-header {
	font-weight: bold;
}
.experience-tags{
	font-style: italic;
}

/* Contact */
.contactIcons, .contactForm { 
	vertical-align: top;
	text-align: center;
	padding-top: 10px;
}

.submit:before {
    font-family: 'FontAwesome';
    content: '\f003';
    padding-right: 5px;
    position: relative;
    font-size: 90%;
}

.margin-bottom-sm{
	margin-bottom: 5px;	
}

.contactIcon{
	margin:auto;
	display: inline-block;
	padding: 0 10px;
}

/* About */
.about ul.list-unstyled li { 
	line-height: 30px;
	text-indent: -10px;
	margin-left: 10px;
}
