@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body { font-family: 'Rubik', sans-serif; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Rubik', sans-serif; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }



/* Masthead */
.header, .footer, .header, .title, .submit { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

.container{
	padding: 50px 15px;
}

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

img.avatar { 
	margin: auto;
	display: block;
}



/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }



/* Jumbotron */     
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; }
.marketing p.lead { line-height: 30px; }



/* Notes */
.notelist, projectlist { 
	margin: 0 auto; 
}
ul.listnotes { 
	margin: 0 auto; 
}
ul.listnotes li {
	line-height: 30px; 
	text-indent: 10px;
} 

/* Note */
.note, .project, .contact, .about, .error { 
	width: 85%; 
	margin: 0 auto; 
	line-height: 26px; 
}
.note h2.credit { 
	font-size: 24.5px; 
	font-weight: 300; 
	font-style: italic; 
}

/* Projects */
.listprojects { 
	margin: 0 auto; 
}
ul.listprojects { 
	margin: 0 auto; 
}
ul.listprojects li {
	line-height: 30px; 
} 
.project .credit { 
	font-size: 24.5px; 
	font-weight: 300; 
	font-style: italic; 
}

/* CV */
.cv {
    line-height: 23px;
    width: 90%;
    margin: 0 auto;
}
    .cv li {
        line-height: 23px;
    }
    .cv h2 {
        font-size: 26.5px;
    }
    .cv h1 {
        font-size: 32.5px;
    }
    .experience-project, .experience-header {
        font-weight: bold;
    }
    .experience-tags{
        font-style: italic;
    }

/* Contact */
.contactIcons, .contactForm { 
	vertical-align: top;
	text-align: center;
	padding-top: 10px;
}

.margin-bottom-sm{
	margin-bottom: 5px;	
}

.contactIcon{
	margin:auto;
	display: inline-block;
	padding: 0 10px;
}

/* About */
.about ul.list-unstyled li { 
	line-height: 30px; 
	text-indent: -30px; 
	margin-left: 30px;
}
