<div class="collegelist">
    {% assign sorted_colleges = (site.colleges | sort: 'end') %}
    {% for college in sorted_colleges reversed" %}
    <ul class="listcompany list-unstyled">
        <li>
			{% if college.image-url %}
			<span>				
				<img class="logo-small" src="{{ college.image-url }}" />&nbsp;
			</span>
			{% endif %}	
            <span>
                {{ college.start }} - {{ college.end }} &nbsp; &raquo; &nbsp;
            </span> 
            <a href="{{ college.url }}">{{ college.title }}</a>
        </li>
    </ul>
    {% endfor %}
</div>
