{% for item in cv.education %}  
	{% assign college = site.data.colleges[item.college] %}
	<p>
		<span class="experience-header">
			<span class="pull-left">{{ college.degree-short }} - 
			{% if college.major %} {{ college.major }} {% endif %}
			</span>
			<span class="pull-right">{{ college.end | date: "%Y" }}</span>		
			<br />
			<span itemprop="alumniOf">{{ college.name }}</span><br />
		</span>
		<span class="experience-tags">
			<span itemprop="addressLocality">{{ college.address.city }}</span>, <span itemprop="addressRegion">{{ college.address.state }}</span>
		</span>
		<br />
		<div class="experience-content">
			<ul>
			{% if college.minors %} <li> Minor: {{ college.minors | array_to_sentence_string }} </li> {% endif %}
			{% if college.notes %} <li> {{ college.notes }} </li> {% endif %}
			{% if college.gpa %} <li> GPA: {{ college.gpa }} </li> {% endif %}
			</ul>
		</div>
	</p>
{% endfor %}