{% for item in cv.education %}  
	{% assign college = site.data.colleges[item.college] %}
	{% assign address = college.address | first %}
	<p>
		<div class="clearfix">
			<div class="pull-left cv-entity" itemprop="alumniOf">
			{% if college.page %}
			<a href="{{ college.page }}"><i class="fa fa-university fa-fw" aria-hidden="true"></i>{{ college.name }}</a>
			{% else %}
			{{ college.name }}
			{% endif %}
			</div>
			<div class="pull-right">{{ college.end | date: "%Y" }}</div>
		</div>	
		
		<div class="cv-tags">
			<span itemprop="addressLocality">{{ address.city }}</span>, <span itemprop="addressRegion">{{ address.state }}</span>
		</div>
		
		<div class="cv-title" >{{ college.degree-short }} - 
			{% if college.major %} {{ college.major }} {% endif %}
		</div>
		<div class="cv-content">
			<ul class="listcv list-unstyled">
			{% if college.minors %} <li> Minor: {{ college.minors | array_to_sentence_string }} </li> {% endif %}
			{% if college.notes %} <li> {{ college.notes }} </li> {% endif %}
			{% if college.gpa %} <li> GPA: {{ college.gpa }} </li> {% endif %}
			</ul>
		</div>
	</p>
{% endfor %}