<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Ryan Laffoon</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
                    <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
                    <!--<li class="{{ page.employers }}"><a href="/employers" title="Employers">Employers</a></li>-->
                    <li class="{{ page.notes }}"><a href="/notes" title="Notes">Notes</a></li>
                    <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
