<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Ryan Laffoon">
	<link rel="shortcut icon" href="https://ryanlaffoon.github.io/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://ryanlaffoon.github.io/favicon.ico" type="image/x-icon">
	<title>{{ page.title }} | Ryan Laffoon | Developer, Musician, Human.</title>		
	<!-- styles -->
	<link href="https://ryanlaffoon.github.io/css/bootstrap-min.css" rel="stylesheet" />
	<link href="https://ryanlaffoon.github.io/css/style.css" rel="stylesheet">
	<!-- google analytics -->
	{% include analytics.html %}	
</head>
