<div class="entitylist">
    {% assign sorted_proprietary_projects = (site.projects | where: "type","proprietary" | sort: "year") %}
    {% assign sorted_personal_projects = (site.projects | where: "type","personal" | sort: "year") %}
	
	{% if sorted_proprietary_projects %}
	<h3 class="title">Proprietary</h3>
    <ul class="listentity list-unstyled">
	    {% for proProject in sorted_proprietary_projects reversed %}
		{% assign proIcon = site.data.projects[proProject.project].icon %}
        <li>
			<span class="clearfix">
				<span class="pull-left"><a href="{{ proProject.url }}"><i class="{{ proIcon }}" aria-hidden="true"></i>{{ proProject.title }}</a></span>
				<span class="pull-right">{{ proProject.year }}</span>
			</span>
        </li>
		{% endfor %}
    </ul>
	{% endif %}
	
	{% if sorted_personal_projects %}
	<h3 class="title">Personal</h3>
    <ul class="listentity list-unstyled">
	    {% for persProject in sorted_personal_projects reversed %}
		{% assign persIcon = site.data.projects[persProject.project].icon %}
        <li>
			<span class="clearfix">
				<span class="pull-left"><a href="{{ persProject.url }}"><i class="{{ persIcon }}" aria-hidden="true"></i>{{ persProject.title }}</a></span>
				<span class="pull-right">{{ persProject.year }}</span>
			</span>
        </li>
		{% endfor %}
    </ul>
	{% endif %}
</div>
