<div class="entitylist">'
    {% assign sorted_proprietary_projects = (site.projects | where: 'type', 'proprietary' | sort: 'year') %}
    {% assign sorted_personal_projects = (site.projects | where: 'type', 'personal' | sort: 'year') %}
	
	{% if sorted_proprietary_projects %}
	<h3 class="title">Proprietary</h3>
    <ul class="listentity list-unstyled">
	    {% for project in sorted_proprietary_projects reversed %}
		{% assign icon = site.data.projects[project.project].icon %}
        <li>
			<span class="clearfix">
				<span class="pull-left"><a href="{{ project.url }}"><i class="{{ icon }}" aria-hidden="true"></i>{{ project.title }}</a></span>
				<span class="pull-right">{{ project.year }}</span>
			</span>
        </li>
		{% endfor %}
    </ul>
	{% endif %}
	
	{% if sorted_personal_projects %}
	<h3 class="title">Personal</h3>
    <ul class="listentity list-unstyled">
	    {% for project in sorted_personal_projects reversed %}
		{% assign icon = site.data.projects[project.project].icon %}
        <li>
			<span class="clearfix">
				<span class="pull-left"><a href="{{ project.url }}"><i class="{{ icon }}" aria-hidden="true"></i>{{ project.title }}</a></span>
				<span class="pull-right">{{ project.year }}</span>
			</span>
        </li>
		{% endfor %}
    </ul>
	{% endif %}
</div>
