---
layout: default
title: Experience
breadcrumb: Experience
tagline: Information about my professional experience & companies that I've worked for. Feel free to dive in for more information!
nav: companies
description: Professional experience information for Ryan Laffoon.
---
<div class="companies">
	{% include header-breadcrumb.html %}
    <div class="title">
        <h3 class="title">
            {{ page.title }}
        </h3>
    </div>
    <div class="tagline">
        <p class="tagline">
            {{ page.tagline }}
        </p>
    </div>
    <div class="content">
        {% include company-list.html %}
    </div>
</div>
