---
layout: default
title: CV
nav: cv
cv: mine
description: CV for Ryan Laffoon, a Developer and Musician living and working in Seattle.
---
{% assign cv = site.data.cv[page.cv] %}
{% assign person = site.data.profiles[cv.profile] %}
<div class="cv">
	{% include header-breadcrumb.html %}
	
	{% if cv.file %} 
		<a href="{{ cv.file }}" class="btn btn-default pull-right" title="Download"><i class="fa fa-download"></i></a> 
	{% endif %}
    
	<div itemscope itemtype="https://schema.org/Person">
	<span itemprop="name">
		<h1>{{ person.name.first }} {{ person.name.last }}</h1>
	</span>
	</div>
	<address>
		<span>{{ person.contact.email }}</span>
	</address>
		
	{% if cv.summary %} 
		<p>{{ cv.summary }}</p> 
	{% endif %}

	{% if cv.experience %}
        <div class="cv-header">Experience</div>
		{% include cv-experience-list.html %}
	{% endif %}
	
	{% if cv.education %}
		<div class="cv-header">Education</div>
		{% include cv-education-list.html %}
	{% endif %}
	
	{% if cv.techsummary %}
	<div class="cv-header">Technical Summary</div>

		{% if cv.techsummary.languages %}
			<dl class="dl-horizontal">
				<dt>Languages</dt>
				<dd>{{ cv.techsummary.languages }}</dd>
			</dl>
		{% endif %}
		
		{% if cv.techsummary.applications %}
			<dl class="dl-horizontal">
				<dt>Applications</dt>
				<dd>{{ cv.techsummary.applications }}</dd>
			</dl>
		{% endif %}
		
		{% if cv.techsummary.environments %}
			<dl class="dl-horizontal">
				<dt>Environments</dt>
				<dd>{{ cv.techsummary.environments }}</dd>
			</dl>
		{% endif %}
		
		{% if cv.techsummary.methodologies %}
			<dl class="dl-horizontal">
				<dt>Methodologies</dt>
				<dd>{{ cv.techsummary.methodologies }}</dd>
			</dl>
		{% endif %}

	{% endif %}
</div>
