---
layout: default
nav: colleges
---

{% assign college = site.data.colleges[page.college] %}

<div class="colleges">
    <div class="college single">
        <div>
            {% include header-breadcrumb.html %}       
        </div>	
		{% if college.image-url %}
		<span>				
			<img class="logo-large" src="{{ college.image-url }}" />&nbsp;&nbsp;
		</span>
		{% endif %}	
		
        <h1 class="title">{{ college.name }}</h1>
        
        <h4 class="credit">
            Attended from {{ college.start | date: "%B %d, %Y" }} to {{ college.end | date: "%B %d, %Y" }}
        </h4>
        
		<!-- college Degree content -->
        {% if college.degree %}
        <div class="collegeinfo">
            <h4 class="sectiontitle">Degree Earned</h4>
            {{ college.degree }} in {{ college.major }}
			
			{% if college.minors %} 
			<div class="collegebody"> 
				Minor: {{ college.minors | array_to_sentence_string }} 
			</div> 
			{% endif %}
			        
			{% if college.notes %}
			<div class="collegebody">
				{{ college.notes }}
			</div>
			{% endif %}
        </div>     
        {% endif %}

        <hr />

        <!-- College Description content -->
        {% if college.description %}
        <h4 class="sectiontitle">Description</h4>
        <div class="collegebody">
            {{ college.description }}
        </div>
        {% endif %}

		<!-- college Projects content -->
        {% if college.projects %}
        <div class="collegeinfo">
            <h4 class="sectiontitle">Projects</h4>
			<ul>
			{% for college-project in college.projects %}
			{% assign project = site.data.projects[college-project.project] %}
				<li>
				<span class="college-project">
				{% if project.page %}
					<a href="{{ project.page }}">{{ project.name }}</a> 
				{% else %}
					{{ project.name }}
				{% endif %}
					({{ project.year }})</span>: {{ project.blurb }}<br />
					<span class="project-tags">{{ project.tags }}</span>
				</li>
			{% endfor %}
			</ul>
        </div>     
        {% endif %}
        		
		<!-- College Courses content -->
        {% if college.courses %}
        <div class="collegeinfo">
            <h4 class="sectiontitle">Courses</h4>
			<ul>
			{% for college-course in college.courses %}
			{% assign course = site.data.courses[college-course.course] %}
				<li>
				<span class="college-course">
				{% if course.page %}
					<a href="{{ course.page }}">{{ course.name }}</a> 
				{% else %}
					{{ course.name }}
				{% endif %}
					({{ course.year }})</span>: {{ course.blurb }}<br />
					<span class="course-tags">{{ course.tags }}</span>
				</li>
			{% endfor %}
			</ul>
        </div>     
        {% endif %}
		
        <!-- College Contact Information content -->
        <h4 class="sectiontitle">Contact</h4>
        <div class="collegebody">
        {% if college.url %}
            <p><a href="{{ college.url }}" target="_blank"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>{{ college.url }}</a></p>
        {% endif %}
        {% if college.phone %}
            <p><phone><i class="fa fa-phone fa-fw" aria-hidden="true"></i>{{ college.phone }}</phone></p>
        {% endif %}
        {% if college.address %}
            {% for address in college.address %}
			<i class="fa fa-map-marker fa-fw" aria-hidden="true">></i>
            <address>
                {{ address.label }} <br />
                {{ address.street }} <br />
                {{ address.city }}, {{ address.state }} {{ address.zip }} {{ address.country }}
            </address>
            {% endfor %}
        {% endif %}
        </div>
        
        <!-- Company Tags content -->
        {% if college.tags %}
        <div class="collegeinfo">
            <h4 class="sectiontitle">Tags</h4>
            {{ college.tags }}
        </div>
        {% endif %}

        <hr />
        
        <!-- College navigation -->
        <div class="collegenav">
			<h4 class="sectiontitle">More Colleges</h4>
            <div class="pagenavigation">
				<a href="/colleges/"><i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i>All Colleges</a></div>
            {% include pagenavigation.html %}
        </div>
        
        <hr />

        <!-- College comments -->
        <div class="collegecomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
