---
layout: default
projects: active
---

{% assign company = site.data.companies[page.company] %}

<div class="companies">
    <div class="company single">
        <div class="clearfix">
            <div class="pagenavigation pull-left">
                <a href="/companies/"><i class="fa fa-arrow-circle-up"></i>&nbsp;Companies</a>
            </div>        
        </div>
        
        <h1 class="title">{{ company.name }}</h1>
        
        <h4 class="credit">
            Employed from {{ company.start }} to {{ company.end }}
        </h4>
        
        {% if company.title %}
        <h4 class="sectiontitle">{{ company.title }}</h4>
        {% endif %}
        
        {% if company.blurb %}
        <div class="companybody">
            {{ company.blurb }}
        </div>
        {% endif %}
        
        <hr />
        
        <!-- Company Description content -->
        {% if company.description %}
        <h4 class="sectiontitle">Description</h4>
        <div class="companybody">
            {{ company.description }}
        </div>
        {% endif %}
        
        <!-- Company Methodology content -->
        {% if company.methodology %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Methodology</h4>
            {{ company.methodology }}
        </div>     
        {% endif %}
        
		<!-- Company Projects content -->
        {% if company.projects %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Projects</h4>
			{% for company-project in company.projects %}
			{% assign project = site.data.projects[company-project] %}
				<a href="{{ project.page }}">{{ project.name }}</a> ({{ project.year }})
			{% endfor %}
        </div>     
        {% endif %}
        
        <!-- Company Contact Information content -->
        <h4 class="sectiontitle">Company Contact</h4>
        <div class="companybody">
        {% if company.url %}
            <p><i class="fa fa-globe"></i> &nbsp; <a href="{{ company.url }}">{{ company.url }}</a></p>
        {% endif %}
        {% if company.phone %}
            <p><i class="fa fa-phone"></i> &nbsp; <phone>{{ company.phone }}</phone></p>
        {% endif %}
        {% if company.address %}
            {% for address in company.address %}
            <address>
                <i class="fa fa-map-marker"></i> &nbsp; {{ address.label }} <br />
                {{ address.street }} <br />
                {{ address.city }}, {{ address.state }} {{ address.zip }} {{ address.country }}
            </address>
            {% endfor %}
        {% endif %}
        </div>
        
        <!-- Company Tags content -->
        {% if company.tags %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Tags</h4>
            {{ company.tags }}
        </div>
        {% endif %}

        <hr />
        
        <!-- Company navigation -->
        <div class="companynav">            <h4 class="sectiontitle">More Companies</h4>
            <div class="pagenavigation"><a href="/companies/"><i class="fa fa-arrow-circle-up"></i>&nbsp;All Companies</a></div>
            {% include pagenavigation.html %}
        </div>
        
        <hr />

        <!-- Company comments -->
        <div class="companycomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
