---
layout: default
nav: projects
---

{% assign company = site.data.companies[page.company] %}

<div class="companies">
    <div class="company single">
        <div>
            {% include header-breadcrumb.html %}       
        </div>
		<div class="clearfix">
		{% if company.image-url %}
		<span class="pull-left">				
			<img class="logo-large" src="{{ company.image-url }}" />&nbsp;&nbsp;
		</span>
		{% endif %}	
			<span class="title main pull-right">{{ company.name }}</span>
        </div>
        <h4 class="credit">
            Employed from {{ company.start | date: "%B %d, %Y" }} to {{ company.end | date: "%B %d, %Y" }}
        </h4>
        
        {% if company.title %}
        <h4 class="sectiontitle">{{ company.title }}</h4>
        {% endif %}
        
        {% if company.blurb %}
        <div class="companybody">
            {{ company.blurb }}
        </div>
        {% endif %}
        
        <hr />

        <!-- Company Methodology -->
        {% if company.methodology %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Methodology</h4>
            {{ company.methodology }}
        </div>     
        {% endif %}
        
		<!-- Company Projects -->
        {% if company.projects %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Projects</h4>
			<ul class="listcv list-unstyled">
			{% for company-project in company.projects %}
			{% assign project = site.data.projects[company-project.project] %}
				<li>
				<span class="company-project">
				{% if project.page %}
					<a href="{{ project.page }}"><i class="{{ project.icon }}" aria-hidden="true"></i>{{ project.name }}</a> 
				{% else %}
					{{ project.name }}
				{% endif %}
					({{ project.year }})</span>: {{ project.blurb }}<br />
					<span class="project-tags">{{ project.tags }}</span>
				</li>
			{% endfor %}
			</ul>
        </div>     
        {% endif %}
                
        <!-- Company Description -->
        {% if company.description %}
        <h4 class="sectiontitle">About the company</h4>
        <div class="companybody">
            {{ company.description }}
        </div>
        {% endif %}
		
        <!-- Company Contact Information -->
        <h4 class="sectiontitle">Contact</h4>
        <div class="companybody">
        {% if company.url %}
            <p><a href="{{ company.url }}" target="_blank"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>{{ company.url }}</a></p>
        {% endif %}
        {% if company.phone %}
            <p><phone><i class="fa fa-phone fa-fw" aria-hidden="true"></i>{{ company.phone }}</phone></p>
        {% endif %}
        {% if company.address %}
            {% for address in company.address %}
			<div class="clearfix">
				<span class="pull-left"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></span>
				<span class="pull-left"><address>
					{{ address.label }}<br />
					{{ address.street }} <br />
					{{ address.city }}, {{ address.state }} {{ address.zip }} {{ address.country }}
				</address></span>
			</div>
            {% endfor %}
        {% endif %}
        </div>
        
        <!-- Company Tags content -->
        {% if company.tags %}
        <div class="companyinfo">
            <h4 class="sectiontitle">Tags</h4>
            {{ company.tags }}
        </div>
        {% endif %}

        <hr />
        
        <!-- Company navigation -->
        <div class="companynav">
			<h4 class="sectiontitle">More Companies</h4>
            <div class="pagenavigation">
				<a href="/companies/"><i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i>All Companies</a>
			</div>
            {% include pagenavigation.html %}
        </div>
        
        <hr />

        <!-- Company comments -->
        <div class="companycomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
