---
layout: default
projects: active
---

{% assign employer = site.data.employers[page.employer] %}

<div class="employers">
    <div class="employer single">
        <div class="clearfix">
            <div class="pagenavigation pull-left">
                <a href="/employers/"><i class="fa fa-arrow-circle-up"></i>&nbsp;Employers</a>
            </div>        
        </div>
        <div>
        <h1 class="title"><i class="{{ employer.icon }}"></i>&nbsp;&nbsp;{{ employer.name }}</h1>
        </div>
        
        <h5 class="credit">
             Employed from {{ employer.start }} to {{ employer.end }}
        </h5>
        
        <div class="employerbody">
            {{ employer.blurb }}
        </div>
        

        <hr />
        
        <h4 class="sectiontitle">Contact</h4>
        <div class="employerbody">
            <i class="fa fa-globe"></i> &nbsp; <p><a href="{{ employer.url }}">{{ employer.url }}</a></p>
            
           <i class="fa fa-phone"></i> &nbsp; <p>{{ employer.phone }}</p>
        </div>
        
        
        {% if employer.address %}
        <div class="employerbody">
            <p>{{ employer.address.street }}</p>
            <p>
                {{ employer.address.city }}, {{ employer.address.state }} {{ employer.address.zip }} {{ employer.address.country }}
            </p>
        </div>
        {% endif %}
        
        
        
        <!-- Employer Description content -->
        <h4 class="sectiontitle">Description</h4>
        <div class="employerbody">
            {{ employer.description }}
        </div>
        
        {% if employer.methodology %}
        <div class="employerinfo">
            <h4 class="sectiontitle">Methodology</h4>
            {{ employer.methodology }}
        </div>
        
        {% endif %}
        
        <!-- Employer info -->
        {% if employer.tags %}
        <div class="employerinfo">
            <h4 class="sectiontitle">Tags</h4>
            {{ employer.tags }}
        </div>
        {% endif %}

        <hr />
        
        <!-- Employer navigation -->
        <div class="employernav">
            <h4 class="sectiontitle">More Employers</h4>
            <div class="pagenavigation"><a href="/employers/"><i class="fa fa-arrow-circle-up"></i>&nbsp;All Employers</a></div>
            {% include pagenavigation.html %}
        </div>
        
        <hr />

        <!-- Employer comments -->
        <div class="employercomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
