---
layout: default
notes: active
---
<div class="notes">
    <div class="note single">
        
        <div class="clearfix">
            <div class="pagenavigation pull-left">
                <a href="/projects/"><i class="fa fa-arrow-circle-up"></i>&nbsp;Notes</a>
            </div>        
        </div>
        
        <div>
            <h1 class="title"><i class="{{ page.icon }}"></i>&nbsp;&nbsp;{{ page.title }}</h1>
        </div>
        
        <h4 class="credit">
            <info datetime="{{ page.date }}">
                {{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
            </info>
        </h4>
        <!-- Post content -->
        <div class="notebody">
            {{ content }}
        </div>
        <!-- Post signature -->
        <div class="notesignature">
            
        </div>
        <!-- Post navigation -->
        <div class="notenav">      
            <h4 class="sectiontitle">More Notes</h4>
            {% include pagenavigation.html %}
        </div>
        
        <hr />
        <!-- Post comments -->
        <div class="notecomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
