---
layout: default
projects: active
---
<div class="projects">
    <div class="project single">
        <h1 class="title">{{ page.title }}</h1>

        <h2 class="date">
            <info datetime="{{ page.date }}">
                {{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
            </info>
        </h2>
        <!-- Project content -->
        <div class="projectbody">
            {{ content }}
        </div>
        <!-- Project info -->
        <div class="projectinfo">
            <!-- include some categories and tags maybe? -->
        </div>

        <hr>
        <!-- Project comments -->
        <div class="projectcomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
