---
layout: default
projects: active
---

{% assign project = site.data.projects[page.project] %}

<div class="projects">
    <div class="project single">
        <div>
            <h2 class="title">
                <i class="{{ project.icon }} pull-left"></i>
                <span class="pull-right">{{ project.name }}</span>
                <hr />
            </h2>
        </div>
        <h3 class="credit">
            Created in {{ project.year }} {% if project.owner %} for {{ project.owner }} {% endif %}
        </h3>
        <!-- Project content -->
        {% if project.purpose %}
        <h4 class="title">Purpose</h4>
        <div class="projectbody">
            {{ project.purpose }}
        </div>
        {% endif %}
        
        {% if project.description %}
        <h4 class="title">Description</h4>
        <div class="projectbody">
            {{ project.description }}
        </div> 
        {% endif %}
        
        {% if project.result %}
        <h4 class="title">Results</h4>
        <div class="projectbody">
            {{ project.result }}
        </div>
        {% endif %}
        
        <!-- Project info -->
        {% if project.tags %}
        <div class="projectinfo">
            <h5>Tags</h5>
            {{ project.tags }}
        </div>
        {% endif %}

        <hr>
        <!-- Project comments -->
        <div class="projectcomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
