---
layout: default
projects: active
---

{% assign project = site.data.projects[page.project] %}

<div class="projects">
    <div class="project single">
        <h1 class="title">{{ project.name }}</h1>

        <h3 class="credit">
            Created in {{ project.year }} {% if project.author %} by {{ project.author }} {% endif %} {% if project.owner %} for {{ project.owner }} {% endif %}
        </h3>
        <!-- Project content -->
        {% if project.purpose %}
        <h4>Purpose</h4>
        <div class="projectbody">
            {{ project.purpose }}
        </div>
        {% endif %}
        
        {% if project.description %}
        <h4>Description</h4>
        <div class="projectbody">
            {{ project.description }}
        </div> 
        {% endif %}
        
        {% if project.result %}
        <h4>Results</h4>
        <div class="projectbody">
            {{ project.result }}
        </div>
        {% endif %}
        
        <!-- Project info -->
        {% if project.tags %}
        <div class="projectinfo">
            <!-- include some categories and tags maybe? -->
            {{ project.tags }}
        </div>
        {% endif %}

        <hr>
        <!-- Project comments -->
        <div class="projectcomments">
            {% include disqus.html %}
        </div>
    </div>
</div>
